# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather_df = pd.read_csv('city_weather.csv')
city_weather_df = city_weather_df.dropna(how='any')
city_weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,66.0,RU,1.580159e+09,80.0,68.05,39.51,8.80,6.35
1,1,bluff,19.0,NZ,1.580159e+09,73.0,-46.60,168.33,61.00,5.01
2,2,hilo,90.0,US,1.580159e+09,65.0,19.73,-155.09,78.01,3.36
3,3,port huron,90.0,US,1.580159e+09,80.0,42.97,-82.42,36.00,6.93
4,4,benguela,98.0,AO,1.580159e+09,78.0,-12.58,13.41,79.54,3.31
...,...,...,...,...,...,...,...,...,...,...
607,607,batagay,0.0,RU,1.580159e+09,70.0,67.63,134.63,-40.86,2.15
608,608,freital,75.0,DE,1.580159e+09,80.0,51.00,13.65,43.00,14.99
610,610,pingliang,0.0,CN,1.580159e+09,79.0,35.54,106.69,19.71,2.19
611,611,lohardaga,0.0,IN,1.580159e+09,67.0,23.43,84.68,57.20,2.42
612,612,hambantota,59.0,LK,1.580159e+09,76.0,6.12,81.12,75.88,15.79

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
g_key

'AIzaSyDZPftArkvXzuDf52iWC5JKywus1ft-Gpw'

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
temperature =  float(input("What is your ideal max temperature: "))
cloudiness = float(input("What is the maximum humidity you can tolerate for your vacation: "))
city_weather_df_ideal = city_weather_df.loc[city_weather_df['Max Temp'] <= temperature]
city_weather_df_ideal = city_weather_df_ideal.loc[city_weather_df['Humidity'] <= temperature]

What is your ideal max temperature: 50
What is the maximum humidity you can tolerate for your vacation: 50

In [5]:
locations = city_weather_df_ideal[['Lat','Lng']]
weights = city_weather_df_ideal['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [27]:
hotel_df = city_weather_df_ideal
hotel_df['Hotel'] = ""
hotel_df['HotelLat'] = ""
hotel_df['HotelLong'] = ""
hotel_df.reset_index()
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel,HotelLat,HotelLong
197,197,batagay-alyta,0.0,RU,1.580159e+09,35.0,67.80,130.41,-25.69,3.53,,,
222,222,qax,0.0,AZ,1.580159e+09,47.0,41.42,46.92,32.00,9.17,,,
598,598,hofn,65.0,IS,1.580159e+09,50.0,64.25,-15.21,40.91,4.36,,,
606,606,westport,90.0,US,1.580159e+09,48.0,41.14,-73.36,45.00,11.41,,,

In [28]:
target_search = 'Hotel'
target_type = 'Hotel'
target_radius = 5000
for index, row in hotel_df.iterrows():
    Lat = str(row["Lat"])
    Long = str(row["Lng"])
    target_coordinates = [Lat, Long]
    target_coordinates2 = target_coordinates[0] + ',' + '  ' + target_coordinates[1]
    params = {
       "location": target_coordinates2,
       "keyword": target_search,
       "radius": target_radius,
       "type": target_type,
        "key" : g_key
    }

In [29]:
a=[]
index=0
query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in hotel_df.iterrows():
    Lat = str(row["Lat"])
    Long = str(row["Lng"])
    target_coordinates = [Lat, Long]
    target_coordinates2 = target_coordinates[0] + ',' + '  ' + target_coordinates[1]
    params = {
       "location": target_coordinates2,
       "keyword": target_search,
       "radius": target_radius,
       "type": target_type,
        "key" : g_key
    }
    response = requests.get(query_url, params=params).json()
    try:
        hotel_df['Hotel'][index] = response['results'][0]['name']
        hotel_df['HotelLat'][index] = response['results'][0]['geometry']['location']['lat']
        hotel_df['HotelLong'][index] = response['results'][0]['geometry']['location']['lng']
        print
    except:
        print(f'no results on {index} index')

no results on 197 index

C:\Users\HMA03470\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HMA03470\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HMA03470\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
#narrowed_city_df.replace('', NULL, inplace=True)
hotel_df = hotel_df.dropna(how='any')
hotel_df.reset_index()
hotel_df = hotel_df[["City", "Country", "HotelLat", "HotelLong","Hotel"]].copy()
hotel_df = hotel_df.rename(columns={"Hotel":"Hotel Name"})
hotel_df.to_csv('hotel_df.csv')
hotel_df = pd.read_csv('hotel_df.csv')
hotel_df = hotel_df.dropna(how='any')
hotel_df

,Unnamed: 0,City,Country,HotelLat,HotelLong,Hotel Name
1,222,qax,AZ,41.437458,46.978124,El Resort Hotel
2,598,hofn,IS,64.257415,-15.212751,HÃ³tel HÃ¶fn
3,606,westport,US,41.156128,-73.421872,Hilton Garden Inn Norwalk

In [31]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = list(hotel_df[["HotelLat", "HotelLong"]].itertuples(index=False, name=None))

In [32]:
# Add marker layer ontop of heat map
locations = hotel_df[["HotelLat", "HotelLong"]]
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))